.App{
    display: flex;
    flex-direction: column;
    width: 100%;
}
@media only screen and (min-width: 600px) {
  .App {
    width: 80%;
    margin-left: 100px;
  }
}
@media only screen and (min-width: 1000px) {
    .App {
      width: 70%;
      margin-left: 200px;
    }
  }
  @media only screen and (min-width: 1200px) {
    .App {
      width: 60%;
      margin-left: 300px;
    }
  }
  @media only screen and (min-width: 1400px) {
    .App {
      width: 50%;
      margin-left: 400px;
    }
  } 
  @media only screen and (min-width: 1600px) {
    .App {
      width: 40%;
      margin-left: 500px;
    }
  } 
  @media only screen and (min-width: 1900px) {
    .App {
      width: 30%;
      margin-left: 600px;
    }
  } 

